*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header{
   background-color: #003366;   /* Deep blue  #003366*/
  color: hsl(0, 0%, 100%);                 /* White text */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}
/* Logo styling */
.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.logo img {
  height: 40px;
  margin-right: 20px;
}

/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff6600; /* Orange hover effect */
}