*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header{
   background-color: #004e9c;   /* Deep blue  #003366*/
  color: hsl(0, 0%, 100%);                 /* White text */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}
/* Logo styling */
.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.logo img {
  height: 100px;
  width: auto;
  margin-right: 20px;
}

/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff6600; /* Orange hover effect */
}
/* Hero Section with Background Image */
.hero-section {
  position: relative;
  height: 680px; /* adjust height as needed */
  background: url('college.jpeg') no-repeat center center/cover;
}

/* Overlay for low opacity effect */
.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 9, 30, 0.7); /* semi-transparent black overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 2rem;   /* big headline */
  font-weight: 700;  /* bold */
  text-align: center;
}